global-reset()

html,body
  height 100%
  box-sizing border-box

*
  box-sizing inherit

body
  background url('http://static1.squarespace.com/static/52d76906e4b0085bee181ad4/52d7fc1ee4b08b61cb19a429/52d80a2be4b0e26973428e1f/1389895626150/No.+13.jpg?format=1500w')
  background-size cover
  background-position 50% 50%
  background-size 400px
  background-repeat no-repeat
  background-color #000
  position relative
  font-size 10px
  font-family sans-serif
  font-weight 100
  background-attachment fixed
  overflow hidden

.container-fluid
  height 100%
  background url('http://41.media.tumblr.com/020006c47d3b38a8789b67e0fa5c7d9d/tumblr_nf571hvQmU1tfqol2o1_500.png')
  background-repeat no-repeat
  background-position 50% 80%
  background-size 200px
  z-index 2
  position relative
  background-attachment fixed

#headerMain
  background-color #88BEC7
  color #DFEEEA
  text-transform uppercase
  overflow hidden
  box-shadow 0px 0px 7px rgba(0,0,0,0.3)
  position relative
  z-index 99
  text-shadow 0px -1px 0px rgba(0,0,0,0.3)
  //
  h1
    font-size 1.2rem
    display inline-block
    vertical-align middle
    padding 0.7rem 2rem
    background-color rgba(0,0,0,0.1)
    font-weight 800
  //
  nav
    display inline-block
    font-size 1rem
    vertical-align middle
    //
    li
      display inline-block
      padding 0.8rem 1.6rem
      vertical-align middle
      font-size 0.8rem
      letter-spacing 0.05rem

.view
  > h1
    font-size 1rem
    text-transform uppercase
    line-height 2.6rem
    height 2.4rem
    background-color #277CB4
    color #04355E
    padding-left 2rem
    font-weight 100
    text-shadow 0px 1px 0px rgba(255,255,255,0.1)
    transform rotate(-0.2deg)
    position relative
    top -0.2rem